@use "../../globals.scss" as *;

.login {
  .form_group {
    h1 {
      margin-bottom: 1rem;
    }

    margin: 2rem auto;

    max-width: 20rem;

    button {
      width: 100%;
      background-color: $black;
      border: 0;
      color: white;
      padding: 0.5rem;
      cursor: pointer;
      &:hover {
        background-color: $accent;
        color: $black;
      }
    }
  }

  .error {
    // text-red-700 bg-red-100 py-2 px-5 rounded-md"
    color: red;
    background-color: #fdd;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 0.25rem;
  }
}
