@use "../../../../../globals.scss" as *;
@use "../../../../../rounded.scss" as *;
.tag {
  color: $main;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $light-bg;
  max-width: fit-content;
  padding: 0.5rem 1rem;
  @extend %lg;

  &:hover {
    background-color: $accent;
    color: #fff;
  }
}
