@use "../../globals.scss" as *;
@use "../../screens.scss" as *;
// @use "../../../Components/PostList/PostList.module.scss" as *;
.footer {
  background-color: $black-bg;
  color: #fff;
  padding: 2rem;

  p {
    line-height: 1.5em;
    letter-spacing: 0.04em;
  }

  .social {
    margin-top: 1rem;
  }
  .wrapper {
    @include width-maker;
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 27rem));
    @include md {
      margin: 1rem auto;
      grid-template-columns: repeat(2, minmax(10rem, 27rem));
    }
    gap: 2rem;
    justify-content: center;
    padding-bottom: 2rem;
    transition: 0.3s;
  }
  // @extend .post_list;
}
