@use "../../../globals.scss" as *;

.post_card {
  z-index: 9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 27rem;
  border-radius: 1rem 1rem 1rem 1rem;
  cursor: pointer;
  .post_card__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .post_card__content {
    padding: 1rem;

    .post_card__info {
      font-size: smaller;
      color: $main;
    }

    h2 {
      color: $black;
      font-size: xx-large;
      margin: 1rem 0;

      &:hover {
        color: $accent;
      }
    }

    p {
      color: $black;
      text-overflow: ellipsis;
      // limit the number of lines to 3
      line-height: 1.5em;
      letter-spacing: 0.04em;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
    color: $main;
    text-decoration: underline;
    text-underline-offset: 0.2rem;

    a:hover {
      color: black;
    }
  }

  hr {
    background-color: $main;
    height: 1px;
    border: none;
  }
}
