@use "../../screens.scss" as screens;

.hero {
  display: grid;
  grid-template-areas: "stack";
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -12;
  // position: relative;

  .hero__image {
    $max-height: 50vh;
    grid-area: stack;
    object-fit: cover;

    max-height: $max-height;
    max-height: $max-height;

    // if lanscape
    @media screen and (orientation: landscape) {
      max-height: $max-height * 1.5;
    }
  }

  .hero__text {
    padding-top: 5rem;
    @include screens.sm {
      padding-top: 0;
    }
    grid-area: stack;
    text-align: center;
    color: #fff;

    h1 {
      margin-bottom: 0.5rem;
    }
  }
}
