@use "../screens.scss" as *;

.container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  .bannerContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: visible;
    width: 233px;
    background-color: black;
    z-index: -2;
    visibility: hidden;

    .img {
      position: absolute;
      object-fit: cover;
      height: auto;
      width: 897px;
      right: 0;
    }
    @include md {
      visibility: visible;
    }
  }

  .wrapper {
    margin-right: auto;
    margin-left: 2rem;
    margin-top: 2rem;

    @media screen and (max-width: 720px) {
      margin: 2rem auto;
      //   padding-left: 2rem;
      h1 {
        padding-left: 2rem;
      }
    }

    .projects {
      max-width: 45rem;

      @media screen and (max-width: 720px) {
        margin: 0 auto;
        padding: 2rem;
      }
    }
  }
}
