.container {
  text-align: center;
  width: 100%;

  .wrapper {
    text-align: start;
    margin-top: 0.5rem;

    p {
      display: inline-block;

      &:first-child {
        font-weight: 600;
      }
    }
  }
}
