@use "../../globals.scss" as *;

$dot-size: 12px;
$dot-color: $black;
$animation-delay: 1s;
.container {
  h2 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    color: $black;
    -webkit-text-stroke: 1px $black; /* add an outline with the color black */
    -webkit-text-fill-color: $dot-color; /* fill the text with the dot color */
    span {
      &::after {
        content: "";
        color: $black;
        display: inline-block;
        border-radius: 50%;
        animation: dot-animation 1.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
          infinite;
      }

      &:nth-child(1) {
        &::after {
          animation-delay: 0;
          content: "o";
        }
      }
      &:nth-child(2) {
        &::after {
          animation-delay: 0.1s;
          content: "z";
        }
      }
      &:nth-child(3) {
        &::after {
          animation-delay: 0.2s;
          content: "x";
        }
      }
      &:nth-child(4) {
        &::after {
          animation-delay: 0.3s;
          content: "k";
        }
      }
      &:nth-child(5) {
        &::after {
          animation-delay: 0.4s;
          content: "";
          width: $dot-size;
          height: $dot-size;
          background-color: $dot-color;
        }
      }
      &:nth-child(6) {
        &::after {
          animation-delay: 0.5s;
          content: "d";
        }
      }
      &:nth-child(7) {
        &::after {
          animation-delay: 0.6s;
          content: "e";
        }
      }
      &:nth-child(8) {
        &::after {
          animation-delay: 0.7s;
          content: "v";
        }
      }

      &::after {
        margin-left: 1px !important;
      }
    }
  }
}

@keyframes dot-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
