@use "../../app/globals.scss" as global;
@use "../../app/screens.scss" as screen;

.hamburger__menu {
  display: block;
  @include screen.lg {
    display: none;
  }
}

@mixin hamburger-line-color($line-color) {
  .hamburger__line {
    background-color: $line-color;
  }
}

.hamburger {
  position: relative;
  z-index: 100;
  cursor: pointer;
  @include hamburger-line-color(global.$black);
  .hamburger__line {
    width: 30px;
    height: 4px;

    transition: 0.4s;
    margin: 4px 0;
  }

  &:hover {
    @include hamburger-line-color(global.$accent);
  }

  &.active {
    .hamburger__line {
      background-color: #fff;
      &:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

.menu {
  $width: 24rem;
  position: fixed;
  z-index: 99;
  transition: 1s;
  top: 0;
  right: -$width * 2;
  height: 100vh;
  height: 100dvh;
  width: $width;
  // overflow: hidden;

  &.active {
    background-color: global.$black-bg;
    // move the menu from right to the left
    transform: translateX(-200%);
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      margin: 1rem 0;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      // color: #fff;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        color: global.$accent;
      }
    }
  }

  .social {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    a {
      margin: 0 1rem;
      font-size: 1.5rem;
      color: #fff;
      transition: 0.3s;

      &:hover {
        color: global.$accent;
      }
    }
  }
}
