.content {
  padding: 1.25rem;
  background-color: #fff;
  position: relative;

  min-height: 650px;
  background-image: url("../../../assets/bg.svg");
  // no repeat, center center, cover
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  // background width 100
  // background-attachment: fixed;
  background-size: cover;
}
