.pp {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

.role {
  margin-top: 1rem;
  text-align: center;
}
