@use "../../../screens.scss" as screen;

.menu {
  display: none;
  @include screen.lg {
    display: flex;
    align-items: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
    li {
      margin: 0 10px;
      font-weight: 600;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
