@use "../../app/screens.scss" as screen;

.menu {
  display: none;
  @include screen.lg {
    display: block;
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
