@use "../../app/screens.scss" as screen;

.nav {
  display: flex;
  ul {
    list-style-type: none;
    display: flex;

    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .hamburger {
    @include screen.sm {
      display: none;
    }
  }
}
