@use "../globals.scss" as *;
@use "../screens.scss" as *;

$main-bg: rgb(192 227 231);
$transparent-bg: rgb(255, 255, 255, 0.85);
%shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.container {
  position: relative;
  .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    @include xl {
      grid-template-columns: 0.25fr 1fr;
    }
    gap: 1rem;
    max-width: 75rem;

    margin: 0 auto;
    padding-top: 2rem;

    .side {
      .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-bottom: 1rem;
        @extend %shadow;

        background-color: $transparent-bg;

        @media screen and (max-width: 1200px) {
          &:nth-child(2),
          &:nth-child(3) {
            width: 50vw;
            height: 600px;
            vertical-align: top;
            display: inline-flex;
          }
        }

        @media screen and (max-width: 600px) {
          &:nth-child(2),
          &:nth-child(3) {
            width: 100%;
            height: auto;
            vertical-align: top;
            display: inline-flex;
          }
        }
      }
      .buttons {
        @media screen and (max-width: 1200px) {
          flex-direction: row;
          gap: 2rem;
          margin: auto 0;
        }

        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 0;
        }
      }
    }
    .main {
      background-color: $transparent-bg;
      padding: 2rem;
      @extend %shadow;
    }
  }
}

@keyframes main-name-color-transiton {
  0% {
    color: $accent;
  }
  100% {
    color: $black;
  }
}
