@use "../../app/rounded.scss" as *;
@use "../../app/globals.scss" as *;

$border-color: #e6e6e6;
.item {
  cursor: pointer;

  background: #fff;
  border: 1px solid $border-color;
  color: $main;
  @extend %full;
  padding: 0.75rem 1rem;

  transition: 0.3s;
  &:hover {
    background: $accent;
    font-weight: 600;
    color: #fff;
    border-color: $accent;
  }
}
