$black: #3f3f3f;
$main: #8d8d8d;
$accent: #47c9e5;

.app * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-montserrat);
}

.app div,
.app p,
.app span {
  font-family: var(--font-raleway);
}

.app a {
  color: inherit;
  text-decoration: none;
}

.layout {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
