%sm {
  border-radius: 0.125rem;
}

%md {
  border-radius: 0.25rem;
}

%lg {
  border-radius: 0.375rem;
}

%xl {
  border-radius: 0.5rem;
}

%_2xl {
  border-radius: 0.75rem;
}

%_3xl {
  border-radius: 1rem;
}

%full {
  border-radius: 9999px;
}
