.container {
  justify-self: end;
  display: flex;
  gap: 1rem;
  align-items: center;
  .share {
    display: inline-block;
  }

  .title {
    margin: 0;
    margin-bottom: 0.5rem;
    display: inline-block;
  }
}
