@use "../../app/screens.scss" as *;
@use "../../app/globals.scss" as *;

.post_list {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 27rem));
  @include width-maker;
  margin-top: 4rem;
  @include md {
    margin: 4rem auto;
    grid-template-columns: repeat(2, minmax(10rem, 27rem));
  }

  @include xl {
    margin: 4rem auto;
    grid-template-columns: repeat(3, minmax(10rem, 27rem));
    gap: 1rem;
  }

  gap: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
  transition: 0.3s;
  overflow: visible;
}
