@use "../../rounded.scss" as *;
@use "../../globals.scss" as *;

$border-color: #e6e6e6;
.item {
  cursor: pointer;
  @extend %not-selected;
  position: relative;
  overflow: hidden; // add this line
}

.loading {
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -50%;
    left: -100%;
    width: 10px;
    height: 200%;
    // rotate 45deg
    transform: rotate(45deg);
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 50%
    );
    animation: loading 1s infinite;
  }

  @keyframes loading {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
}

// TODO: When user selects a pool, the pool should be highlighted try to solve it via suspense

%not-selected {
  background: #fff;
  color: $main;

  border: 1px solid $border-color;
  @extend %full;
  padding: 0.75rem 1rem;
}

.selected {
  background: $accent;
  font-weight: 600;
  color: #fff;
  border-color: $accent;
}
