@use "../../../globals.scss" as *;

.name {
  animation: main-name-color-transiton 5s ease-in-out infinite alternate;
}

.hello {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

@keyframes main-name-color-transiton {
  0% {
    color: $accent;
  }
  100% {
    color: $black;
  }
}
