@use "../../../globals.scss" as *;

.hi {
  font-family: var(--font-pacifico) !important;
  span {
    font-family: var(--font-pacifico) !important;
  }

  font-style: italic;
  font-size: x-large;
  font-weight: 400;
}

.name {
  animation: main-name-color-transiton 5s ease-in-out infinite alternate;
}

.hello {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

@keyframes main-name-color-transiton {
  0% {
    color: $accent;
  }
  100% {
    color: $black;
  }
}
