@use "../../../../../globals.scss" as *;
.container {
  justify-self: end;
  display: flex;
  gap: 1rem;
  align-items: center;
  .share {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  .title {
    margin: 0;
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  .icon {
    &:hover {
      color: $accent;
    }
  }
}
