@use "../../../globals.scss" as *;
@use "../../../screens.scss" as *;

.projectElement {
  width: 100%;
  padding: 1rem;
  &__image {
    padding-bottom: 1rem;
    border-bottom: 1px solid $accent;

    .img {
      height: 100%;
      width: 100%;
      max-height: 270px;
      object-fit: cover;
      border-radius: 0.4rem;
      margin: 0 auto;
      display: block;
    }
  }

  &__content {
    padding-top: 1rem;
    h4 {
      margin: 0.4rem 0;
    }
    line-height: 1.4em;
    letter-spacing: 0.02em;
  }
}

.box {
  width: 100%;
  padding: 3px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  @include md {
    width: 80%;
  }

  &:hover {
    box-shadow: 0 0 2rem 0.7rem rgba(0, 0, 0, 0.1);
  }

  margin: 1.5rem 0;

  --border-size: 2px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #21ffbe, #21bee0);

  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;

  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  &:hover {
    animation-play-state: paused;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
